@model Recruit_o_matic.ViewModels.DetailsViewModel


<div class="row-fluid">
    <div class="span6 well">

        <h1>
            @Html.DisplayFor(model => model.currentVacancy.Title)

        </h1>
        <p>
            <strong>@Html.DisplayNameFor(model => model.currentVacancy.ClosingDate)</strong> @Model.currentVacancy.ClosingDate.ToShortDateString()
            @if (Model.currentVacancy.ClosingDate - DateTime.Now <= new System.TimeSpan(3, 0, 0, 0))
            {

                <span class="label label-warning">Closing Soon!</span>
            }
        </p>
        <h2>
            @Html.DisplayNameFor(model => model.currentVacancy.Description)

        </h2>
        @Html.Markdown(Model.currentVacancy.Description)



    </div>
    <div class="span6">
        @using (Html.BeginForm("Details", "Vacancy", new { Id = Model.currentVacancy.Id }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            <div class="text-error">
                @Html.ValidationSummary(true)
            </div>
       
            <fieldset>
                <legend>Apply</legend>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.FullName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.currentApplicant.FullName)
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.FullName)</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.Address, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.currentApplicant.Address)
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.Address)</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.TelephoneNumber, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.currentApplicant.TelephoneNumber)
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.TelephoneNumber)</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.EmailAddress, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.currentApplicant.EmailAddress)
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.EmailAddress)</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.CoverNote, new { @class = "control-label" })
                    <div class="controls">
                        <div class="mdd_toolbar"></div>
                        <textarea cols="50" rows="10" class="mdd_editor" name="Description">@Model.currentApplicant.CoverNote</textarea>
                        <div class="mdd_resizer"></div>
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.CoverNote)</span>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <button type="button" class="btn btn-info btn-mini" data-toggle="collapse" data-target="#demo">
                            Preview
                        </button>
                        <div id="demo" class="collapse">
                            <div class="mdd_preview well"></div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.File, new { @class = "control-label" })
                    <div class="controls">
                        <input name="currentApplicant.File" id="File" type="file" />
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.File)</span>
                    </div>
                </div>

                @Html.HiddenFor(model => Model.currentApplicant.VacancyId)


                <div class="form-actions">
                    <a class="btn" href="@Url.Action("Index", "Home")"><i class="icon-arrow-left"></i>Not For Me</a>
                    <input class="btn btn-success" type="submit" value="Apply" />
                </div>
            </fieldset>
        }
    </div>



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<link rel="stylesheet" href="/Scripts/mdd_styles.css" />
    <script type="text/javascript" src="/Scripts/MarkdownDeepLib.min.js"></script>

    <script type="text/javascript">
        $("textarea.mdd_editor").MarkdownDeep({
            help_location: "/Content/mdd_help.html",
            disableTabHandling: true
        });

    </script>
}