@model Recruit_o_matic.ViewModels.DetailsViewModel


<div class="row-fluid">
    <div class="span6 well">

        <h1>
            @Html.DisplayFor(model => model.currentVacancy.Title)

        </h1>
        <p>
            <strong>@Html.DisplayNameFor(model => model.currentVacancy.ClosingDate)</strong> @Model.currentVacancy.ClosingDate.ToShortDateString()
            @if (Model.currentVacancy.ClosingDate - DateTime.Now <= new System.TimeSpan(3, 0, 0, 0))
            {

                <span class="label label-warning">Closing Soon!</span>
            }
        </p>
        <h2>
            @Html.DisplayNameFor(model => model.currentVacancy.Description)
        </h2>
        <p>
            @Html.Raw(Model.currentVacancy.Description.Replace("\n\r", "</p><p>"))
        </p>

    </div>
    <div class="span6">
        @using (Html.BeginForm("Apply", "Vacancy", new { VacancyId = Model.currentVacancy.Id }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {

            <div class="text-error">
                @Html.ValidationSummary(true)
            </div>
       
            <fieldset>
                <legend>Apply</legend>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.FullName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.currentApplicant.FullName)
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.FullName)</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.Address, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.currentApplicant.Address)
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.Address)</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.TelephoneNumber, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.currentApplicant.TelephoneNumber)
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.TelephoneNumber)</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.EmailAddress, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.currentApplicant.EmailAddress)
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.EmailAddress)</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.CoverNote, new { @class = "control-label" })
                    <div class="controls">
                        @Html.EditorFor(model => model.currentApplicant.CoverNote)
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.CoverNote)</span>
                    </div>
                </div>

                <div class="control-group">
                    @Html.LabelFor(model => model.currentApplicant.File, new { @class = "control-label" })
                    <div class="controls">
                        <input name="currentApplicant.File" id="File" type="file" />
                        <span class="text-error">@Html.ValidationMessageFor(model => model.currentApplicant.File)</span>
                    </div>
                </div>

                <div class="form-actions">
                     <a class="btn" href="@Url.Action("Index","Home")"><i class="icon-arrow-left"></i> Not For Me</a>
                    <input class="btn btn-success" type="submit" value="Apply" />
                </div>
            </fieldset>
        }
    </div>



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}