@model Recruit_o_matic.ViewModels.Admin.VacancyGridViewModel

@foreach (var item in Model.Vacancies)
            {
                
                <tr>
                    <td><span class="badge badge-info">@item.ApplicantCount</span> @item.Id</td>
                    <td>@item.Title</td>
                    <td>@item.PublishedOn</td>
                    <td>@item.ClosingDate.ToShortDateString()
                        @if (item.ClosingDate - DateTime.Now <= new System.TimeSpan(3, 0, 0, 0))
                        {
                            <span class="label label-warning">Closing Soon</span>
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-mini btn-info" href="@Url.Action("Edit", new { id = item.Id })"><i class="icon-edit icon-white"></i>&nbsp;Edit</a>
                            <a class="btn btn-mini btn-danger" href="@Url.Action("Delete", new { id = item.Id })"><i class="icon-trash icon-white"></i>&nbsp;Delete</a>
                            <a class="btn btn-mini btn-success" href="@Url.Action("Details", new { id = item.Id })"><i class="icon-info-sign icon-white"></i>&nbsp;Details</a>

                            @if (item.Published)
                            {
                                <a class="btn btn-mini btn-inverse" href="@Url.Action("Publish", new { id = item.Id })"><i class="icon-pause icon-white"></i>&nbsp;Suspend</a>                             
                            }
                            else
                            {
                                <a class="btn btn-mini" href="@Url.Action("Publish", new { id = item.Id })"><i class="icon-play"></i>&nbsp;Publish</a>                            
                            }
                        </div>
                    </td>
                </tr>
            }

