@model Recruit_o_matic.Models.Vacancy
@using DanTup.Web
<h2>Create</h2>

@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <div class="text-error">
        @Html.ValidationSummary(true)
    </div>

    <fieldset>
        <legend>Vacancy</legend>

        <div class="control-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Title)
                <span class="text-error">@Html.ValidationMessageFor(model => model.Title)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ClosingDate, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.ClosingDate)
                <span class="text-error">@Html.ValidationMessageFor(model => model.ClosingDate)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            <div class="controls">
                <div class="mdd_toolbar"></div>
                <textarea cols="50" rows="10" class="mdd_editor" name="Description"></textarea>
                <div class="mdd_resizer"></div>
                <span class="text-error">@Html.ValidationMessageFor(model => model.Description)</span>
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button type="button" class="btn btn-info btn-mini" data-toggle="collapse" data-target="#demo">
                    Preview
                </button>
                <div id="demo" class="collapse">
                    <div class="mdd_preview well"></div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <a class="btn" href="@Url.Action("Index")"><i class="icon-arrow-left"></i>Back to List</a>
            <input class="btn btn-success" type="submit" value="Create Vacancy" />
        </div>
    </fieldset>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="/Scripts/mdd_styles.css" />
    <script type="text/javascript" src="/Scripts/MarkdownDeepLib.min.js"></script>

    <script type="text/javascript">
        $("textarea.mdd_editor").MarkdownDeep({
            help_location: "/Scripts/mdd_help.htm",
            disableTabHandling: true
        });

    </script>

    <script type="text/javascript">
        /*!
* Monkey patch for jquery.validate.js to make use of Globalize.js number and date parsing
*/

        $(document).ready(function () {

            //var currentCulture = $("meta[name='accept-language']").prop("content");
            var currentCulture = "en-GB";

            // Set Globalize to the current culture driven by the meta tag (if any)
            if (currentCulture) {
                Globalize.culture(currentCulture);
            }

            //Tell the validator that we want numbers parsed using Globalize.js
            $.validator.methods.number = function (value, element) {
                if (Globalize.parseFloat(value)) {
                    return true;
                }
                return false;
            }

            //Tell the validator that we want dates parsed using Globalize.js
            $.validator.methods.date = function (value, element) {
                if (Globalize.parseDate(value)) {
                    return true;
                }
                return false;
            }

            //Fix the range to use globalized methods
            jQuery.extend(jQuery.validator.methods, {
                range: function (value, element, param) {
                    //Use the Globalization plugin to parse the value
                    var val = Globalize.parseFloat(value);
                    return this.optional(element) || (val >= param[0] && val <= param[1]);
                }
            });

        });

    </script>
}
