@model Recruit_o_matic.ViewModels.Admin.DetailsViewModel

<div class="row-fluid">
    <div class="span8">
        <h2>Details</h2>
        <p>
            <a href="@Url.Action("", "Admin")" class="btn btn-success"><i class="icon-arrow-left icon-white"></i>Back</a>
        </p>

        <table class="table">
            <caption>Applicants for @Model.Vacancy.Title</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Application Date</th>
                    <th></th>

                </tr>
            </thead>

            @foreach (var applicant in Model.Applicants)
            {
                <tr>
                    <td>@applicant.FullName</td>
                    <td>@applicant.ApplicationDate</td>
                    <td></td>

                </tr>
            }



        </table>
    </div>

    <div class="span4">
        <h3>@Model.Vacancy.Title</h3>
        <p>
            Published: @Model.Vacancy.PublishedOn<br />
            Closing Date: @Model.Vacancy.ClosingDate.ToShortDateString()
        </p>
        <h4>Details</h4>
        <p>@Model.Vacancy.Description</p>
    </div>
</div>
