@model Recruit_o_matic.ViewModels.Admin.DetailsViewModel

<div class="row-fluid">
    <div class="span8">
        <h2>Details</h2>
        <p>
            <a href="@Url.Action("", "Admin")" class="btn btn-success"><i class="icon-arrow-left icon-white"></i>Back</a>
        </p>

        <table class="table">
            <caption>Applicants for @Model.Vacancy.Title</caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Application Date</th>
                    <th></th>

                </tr>
            </thead>

            @foreach (var applicant in Model.Applicants)
            {
                <tr>
                    <td>@applicant.FullName</td>
                    <td>@applicant.ApplicationDate</td>
                    <td>
                        @if (applicant.AttachementId != null)
                        {
                        <a class="btn btn-primary btn-mini" href="@Url.Action("GetCV", new { id = applicant.AttachementId })"><i class="icon-download icon-white"></i>&nbsp;Download CV</a>
                        }
                        else
                        {
                            <a class="btn btn-mini disabled"><i class="icon-warning-sign"></i>&nbsp;No CV Attached</a>
                        }
                    </td>

                </tr>
            }



        </table>
    </div>

    <div class="span4 well">
        <h3>@Model.Vacancy.Title</h3>
        <p>
            Published: @Model.Vacancy.PublishedOn<br />
            Closing Date: @Model.Vacancy.ClosingDate.ToShortDateString()
        </p>
        <h4>Details</h4>
        @Html.Markdown(@Model.Vacancy.Description)
    </div>
</div>
