@model Recruit_o_matic.Models.Vacancy

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="text-error">
        @Html.ValidationSummary(true)
    </div>
    <fieldset>
        <legend>Edit Vacancy</legend>

        

        <div class="control-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Title)
                <span class="text-error">@Html.ValidationMessageFor(model => model.Title)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Description)
                <span class="text-error">@Html.ValidationMessageFor(model => model.Description)</span>
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.ClosingDate, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.ClosingDate)
                <span class="text-error">@Html.ValidationMessageFor(model => model.ClosingDate)</span>
            </div>
        </div>

        <div class="form-actions">
             <a class="btn" href="@Url.Action("Index")"><i class="icon-arrow-left"></i> Back to List</a>
            <input class="btn btn-success" type="submit" value="Edit Vacancy" />
        </div>
        @Html.HiddenFor(model => model.Id)
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
