@model Recruit_o_matic.ViewModels.Admin.IndexVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Published</th>
        <th>Closing Date</th>
        <th></th>
    </tr>

@foreach (var item in Model.Positions)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Title</td>
        <td>@item.PublishedOn.ToString()</td>
        <td>@item.ClosingDate.ToShortDateString()</td>
        <td>@item.Title
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
